.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
    background-color: transparent;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar_logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar_links {
    display: flex;
    gap: 10px;
}

.navbar_button {
    background-color: #ff395c;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.navbar_button:hover {
    background-color: black;
}